$radius: 20px;
$emptyOutlineWidth: 2px;
$emptySize: $radius * 2 - $emptyOutlineWidth * 2; //20px;
$emptyOutline: gray;
$emptyFill: transparent;
$dragOverFill: gray;

$squareSize: $emptySize;

$triangleWidth: $radius - 2;
$triangleHeight: $squareSize;
$triangleColor: green;

$circlePieceColor: black;

$incorrectGuessColor: red;
$partiallyCorrectGuessColor: yellow;
$correctGuessColor: green;

div.baseCircle {
    border-radius: $radius;
    height: $emptySize;
    width: $emptySize;
    border-style: solid;
    border-width: $emptyOutlineWidth;
}

div.empty {
    @extend div.baseCircle;
    border-color: $emptyOutline;
    background-color: $emptyFill;
}

div.dragOver{
    background-color: $dragOverFill;
}

div.incorrect-result {
    @extend div.baseCircle;
    border-color: $incorrectGuessColor;
    background-color: $incorrectGuessColor;
}

div.partially-correct-result {
    @extend div.baseCircle;
    border-color: $partiallyCorrectGuessColor;
    background-color: $partiallyCorrectGuessColor;
}

div.correct-result {
    @extend div.baseCircle;
    border-color: $correctGuessColor;
    background-color: $correctGuessColor;
}

div.piece1 {
    height: $squareSize;
    width: $squareSize;
    background-color: blue;
}

div.piece2 {
    width: 0;
    height: 0;
    border-left: $triangleWidth solid transparent;
    border-right: $triangleWidth solid transparent;
    border-bottom: $triangleHeight solid $triangleColor;
}

div.circle {
    @extend div.baseCircle;
    border-style: solid;
    border-color: $circlePieceColor;
    border-width: $emptyOutlineWidth;
    background-color: $circlePieceColor;
}

// $startHeight: 100px;

// #star-five {
//    margin: 50px 0;
//    position: relative;
//    display: block;
//    color: red;
//    width: 0px;
//    height: 0px;
//    border-right:  100px solid transparent;
//    border-bottom: 70px  solid red;
//    border-left:   100px solid transparent;
//    -moz-transform:    rotate(35deg);
//    -webkit-transform: rotate(35deg);
//    -ms-transform:     rotate(35deg);
//    -o-transform:      rotate(35deg);
// }
// #star-five:before {
//    border-bottom: 80px solid red;
//    border-left: 30px solid transparent;
//    border-right: 30px solid transparent;
//    position: absolute;
//    height: 0;
//    width: 0;
//    top: -45px;
//    left: -65px;
//    display: block;
//    content: '';
//    -webkit-transform: rotate(-35deg);
//    -moz-transform:    rotate(-35deg);
//    -ms-transform:     rotate(-35deg);
//    -o-transform:      rotate(-35deg);
// }

// #star-five:after {
//    position: absolute;
//    display: block;
//    color: red;
//    top: 3px;
//    left: -105px;
//    width: 0px;
//    height: 0px;
//    border-right: 100px solid transparent;
//    border-bottom: 70px solid red;
//    border-left: 100px solid transparent;
//    -webkit-transform: rotate(-70deg);
//    -moz-transform:    rotate(-70deg);
//    -ms-transform:     rotate(-70deg);
//    -o-transform:      rotate(-70deg);
//    content: '';
// }
