div.baseCircle, div.empty, div.incorrect-result, div.partially-correct-result, div.correct-result, div.circle {
  border-radius: 20px;
  height: 36px;
  width: 36px;
  border-style: solid;
  border-width: 2px; }

div.empty {
  border-color: gray;
  background-color: transparent; }

div.dragOver {
  background-color: gray; }

div.incorrect-result {
  border-color: red;
  background-color: red; }

div.partially-correct-result {
  border-color: yellow;
  background-color: yellow; }

div.correct-result {
  border-color: green;
  background-color: green; }

div.piece1 {
  height: 36px;
  width: 36px;
  background-color: blue; }

div.piece2 {
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-bottom: 36px solid green; }

div.circle {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  background-color: black; }

